/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}

.btn-group_right_1rem > [nz-button] {
  margin-right: 0.5rem;
}

.btn-group_right_1rem.ant-form-item > [nz-button] {
  margin-top: 3px;
}

.form-condition {
  background: #f0f2f5;
  padding: 1rem;
  margin-bottom: 1rem;

  [nz-row]:last-child > nz-form-item {
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

.btn-dark {
  background: #001529;
  color: #fff;

  &:hover, &:focus {
    background: rgba(0, 21, 41, 0.6);
    color: #fff;
  }

  &:active {
    background: rgba(0, 21, 41, 0.85);
    color: #fff;
  }
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;

  &:hover, &:focus {
    background: rgba(240, 173, 78, 0.6);
    color: #fff;
  }

  &:active {
    background: rgba(240, 173, 78, 0.85);
    color: #fff;
  }
}

.disabled {
  pointer-events: none;
}

.red {
  color: #f00;
}

.not-data:after {
  content: '没有数据';
  display: block;
  color: #999;
  text-align: center;
  padding: 2rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

//<editor-fold desc="盒模型Flex布局">
.flex-h {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-v {
  display: flex;
  flex-direction: column;

  &.flex-center {
    justify-content: normal;
  }
}

.flex-1 {
  flex: 1;
}

.padding-left-1 {
  padding-left: 1rem;
}

//</editor-fold>

//<editor-fold desc="填充父子规则">
.relative {
  position: relative;
}

.absolute {
  position: absolute;

  &.full-parent {
    top: 0;
    left: 0;
  }
}

.full-parent {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.children-full-height {
  > * {
    height: 100%;
  }
}

//</editor-fold>

//<editor-fold desc="滚动条样式">
/*滚动条整体部分，可以设置宽度啥的*/
.def-scroll::-webkit-scrollbar {
  width: 2px;
}

.def-scroll::-webkit-scrollbar-button {
}

/*滚动条两端的按钮*/
.def-scroll::-webkit-scrollbar-track {
}

/*外层轨道*/
.def-scroll::-webkit-scrollbar-track-piece {
}

/*内层滚动槽*/
.def-scroll::-webkit-scrollbar-corner {
}

/*边角*/
.def-scroll::-webkit-resizer {
}

/*定义右下角拖动块的样式*/
/*滚动的滑块*/
.def-scroll::-webkit-scrollbar-thumb {
  width: 0px;
  background: #ACB5BF;
  /*background: transparent;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
}

.def-scroll {
  /*scrollbar-arrow-color: #59616B; !*三角箭头的颜色*!*/
  /*scrollbar-face-color: #59616B; !*立体滚动条的颜色（包括箭头部分的背景色）*!*/
  /*scrollbar-3dlight-color: #59616B; !*立体滚动条亮边的颜色*!*/
  /*scrollbar-highlight-color: #59616B; !*滚动条的高亮颜色（左阴影？）*!*/
  /*scrollbar-shadow-color: #59616B; !*立体滚动条阴影的颜色*!*/
  /*scrollbar-darkshadow-color: #59616B; !*立体滚动条外阴影的颜色*!*/
  /*scrollbar-track-color: #59616B; !*立体滚动条背景颜色*!*/
  /*scrollbar-base-color: #59616B; !*滚动条的基色*!*/
}

//</editor-fold>

.md-editor {
  width: 100%;
  height: 100%;
}

//<editor-fold desc="NG-Zorro样式">
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-modal .ant-modal {
  top: 0;
}

//</editor-fold>

//<editor-fold desc="EditorMd">
.editormd-preview-close-btn {
  display: none !important;
}

//</editor-fold>
.color-red {
  color: #f00;
}

.pointer {
  cursor: pointer;

  &.icon-pointer {
    color: #ddd;

    &:hover {
      color: #999;
    }
  }

}
