<div class="main flex-h full-parent children-full-height">

  <!--左侧菜单栏-->
  <div class="main-menus flex-v flex-center">
    <img src="/assets/head_pic.png" class="head-pic"/>

    <i nz-icon nzType="sketch" nzTheme="outline"
       nz-tooltip nzTooltipTitle="会员" nzTooltipPlacement="right"></i>

    <i nz-icon nzType="sync" nzTheme="outline"
       nz-tooltip nzTooltipTitle="同步" nzTooltipPlacement="right"></i>

    <i nz-icon nzType="plus-circle" nzTheme="outline" class="add"
       nz-tooltip nzTooltipTitle="添加" nzTooltipPlacement="right"></i>

    <div class="menus flex-v flex-center">
      <i nz-icon nzType="snippets" nzTheme="outline" class="active"
         nz-tooltip nzTooltipTitle="最近文档" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="folder" nzTheme="outline"
         nz-tooltip nzTooltipTitle="我的文件夹" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="deployment-unit" nzTheme="outline"
         nz-tooltip nzTooltipTitle="与我分享" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="share-alt" nzTheme="outline"
         nz-tooltip nzTooltipTitle="我的分享" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="delete" nzTheme="outline"
         nz-tooltip nzTooltipTitle="回收站" nzTooltipPlacement="right"></i>
    </div>
  </div>

  <!--中间虚拟文件夹/文件-->
  <div class="dirs"></div>

  <!--右侧内容-->
  <div class="content flex-1"></div>

</div>
