<div class="main flex-h full-parent children-full-height_1 full-height">

  <!--左侧菜单栏-->
  <div class="main-menus flex-v flex-center full-height">
    <img src="/assets/head_pic.png" class="head-pic"/>

    <i nz-icon nzType="sketch" nzTheme="outline"
       nz-tooltip nzTooltipTitle="会员" nzTooltipPlacement="right"></i>

    <i nz-icon nzType="sync" nzTheme="outline"
       nz-tooltip nzTooltipTitle="同步" nzTooltipPlacement="right"></i>

    <i nz-icon nzType="plus-circle" nzTheme="outline" class="add"
       nz-menu [nzMode]="'vertical'">
      <div nz-submenu>
        <ul nz-menu class="add-menu-box context-menu">
          <li nz-menu-item (click)="addFile()"><i nz-icon nzType="file-add" nzTheme="outline"></i>新建文件</li>
          <li nz-menu-item (click)="showAddDirModal()"><i nz-icon nzType="folder" nzTheme="outline"></i>新建文件夹</li>
        </ul>
      </div>
    </i>

    <div class="menus flex-v flex-center flex-1 overflow-auto def-scroll">
      <i nz-icon nzType="snippets" nzTheme="outline" class="active"
         nz-tooltip nzTooltipTitle="最近文档" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="folder" nzTheme="outline"
         nz-tooltip nzTooltipTitle="我的文件夹" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="deployment-unit" nzTheme="outline"
         nz-tooltip nzTooltipTitle="与我分享" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="share-alt" nzTheme="outline"
         nz-tooltip nzTooltipTitle="我的分享" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="delete" nzTheme="outline"
         nz-tooltip nzTooltipTitle="回收站" nzTooltipPlacement="right"></i>

      <i nz-icon nzType="logout" nzTheme="outline"
         nz-tooltip nzTooltipTitle="退出" nzTooltipPlacement="right" (click)="exitApp()"></i>
    </div>
  </div>

  <!--中间虚拟文件夹/文件-->
  <div class="dirs-box flex-v full-height">

    <!--搜索-->
    <div class="flex-h search-box flex-center">
      <i nz-icon nzType="rollback" nzTheme="outline" class="up-level"
         (click)="intoParentDir()" [class.disabled]="-1 == currentDir.id"></i>
      <nz-input-group class="flex-1"><input type="text" nz-input placeholder="输入搜索关键字"/></nz-input-group>
    </div>

    <div class="dirs flex-1 overflow-auto def-scroll">
      <!--目录列表-->
      <div class="path flex-h flex-center" *ngFor="let dir of dirs"
           (click)="setParent(dir)" [class.context-open]="dir == contextDir"
           (contextmenu)="dirContextMenu($event, dirContextMenus, dir)">
        <i nz-icon nzType="folder" nzTheme="outline" class="icon"></i>
        <span class="text flex-1">{{dir.name}}</span>
        <span class="date file-count">0</span>
      </div>

      <!--文件列表-->
      <div class="path flex-h flex-center" *ngFor="let file of notepads"
           (click)="openNotepad(file)" [class.opened]="openedNotepad == file">
        <i nz-icon nzType="file-text" nzTheme="outline" class="icon"></i>
        <span class="text flex-1">{{file.title}}</span>
        <span class="date">{{file.lastModified}}</span>
      </div>

    </div>
  </div>

  <!--右侧内容-->
  <div class="content flex-1 flex-h ">
    <div class="flex-1 full-height overflow-auto flex-v" #content>

      <div class="title-editor flex-h flex-center">
        <input class="flex-1" [(ngModel)]="openedNotepad!.title"/>
      </div>

      <div class="md-editor flex-1" id="mdEditor">
        <textarea></textarea>
      </div>
    </div>

    <div class="operation flex-v">
      <i nz-icon nzType="sync" nzTheme="outline"
         nz-tooltip nzTooltipTitle="手动保存" nzTooltipPlacement="left" (click)="saveNotepad()"></i>

      <i nz-icon nzType="profile" nzTheme="outline"
         nz-tooltip nzTooltipTitle="模式切换" nzTooltipPlacement="left" (click)="changeEditorModal()"></i>

      <i nz-icon nzType="share-alt" nzTheme="outline"
         nz-tooltip nzTooltipTitle="分享" nzTooltipPlacement="left"></i>
    </div>
  </div>
</div>

<!--目录右键菜单-->
<nz-dropdown-menu #dirContextMenus>
  <ul nz-menu class="add-menu-box">
    <li nz-menu-item (click)="addFile()"><i nz-icon nzType="file-add" nzTheme="outline"></i>新建文件</li>
    <li nz-menu-item (click)="showAddDirModal()"><i nz-icon nzType="folder" nzTheme="outline"></i>新建文件夹</li>
    <li nz-menu-item (click)="showModifyDirModal()"><i nz-icon nzType="edit" nzTheme="outline"></i>修改名称</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="deleteDir()" class="color-red"><i nz-icon nzType="delete" nzTheme="outline"></i>删除目录</li>
  </ul>
</nz-dropdown-menu>

<!--添加目录弹出窗口-->
<nz-modal [(nzVisible)]="addModalVisible"
          [nzTitle]="addFolderTitle"
          nzWrapClassName="vertical-center-modal"
          (nzOnCancel)="hideAddDirModal()"
          (nzOnOk)="handleModifyDir()">
  <div nz-form [formGroup]="addDirForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>目录名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="addDirErrorTpl">
        <input nz-input formControlName="name"/>
      </nz-form-control>
    </nz-form-item>
  </div>

  <ng-template #addDirErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">请输入目录名称</ng-container>
    <ng-container *ngIf="control.hasError('regexp')">仅支持中英文_$和数字, 长度2~10之间!</ng-container>
  </ng-template>
</nz-modal>
<ng-template #addFolderTitle>
  <div><i nz-icon nzType="folder-add" nzTheme="outline"></i>目录名称</div>
</ng-template>

<!--上下文菜单遮罩-->
<div *ngIf="showContextMenu" class="absolute full-parent mask"
     [class.hidden]="!showContextMenu"
     (click)="closeContextMenu()"></div>

<!--加载中-->
<div *ngIf="isLoading" class="absolute full-parent mask flex-h flex-center loading-mask">
  <nz-spin nzSimple nzTip="Loading..."></nz-spin>
</div>
