.main {
  .main-menus {
    background: #5576BD;

    * {
      color: #ddd;
    }

    .head-pic {
      cursor: pointer;
      margin: 1rem .5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      transition: transform .3s;
      border: 2px solid;

      &:hover {
        transform: scale(1.2);
      }
    }

    > i {
      font-size: 1.5rem;
      padding: .5rem;
      margin: .5rem;
      cursor: pointer;
      transition: transform .3s;

      &:hover {
        position: relative;
        transform: scale(1.25);
      }
    }

    .add {
      font-size: 2rem;
      background-color: transparent;
      border-right: 0;
      position: relative;
    }

    .menus {
      width: 100%;

      > i {
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        width: 100%;
        transition: border .3s, background .3s;

        &:hover {
          border-left-color: #86d8e0;
          background: #8dadf1;
          color: #eee;
        }

        &.active {
          border-left: .5rem solid #55b3bd;
          background: #698bd4;
          color: #fff;
        }
      }
    }
  }

  .dirs-box {
    width: 20rem;
    background: #eee;

    .search-box {
      padding: .5rem;

      .up-level {
        padding: .5rem;
        cursor: pointer;
        font-size: 1.5rem;
      }
    }

    .dirs {

      .path {
        padding: 0.5rem 1rem;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid #dadada;

        &.context-open {
          background: #5576BD;
        }

        &:last-child {

        }

        &:hover, &.opened {
          color: #5576BD;
          background-color: #ddd;
        }

        .icon {
        }

        .text {
          padding: 0 .5rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .date {
          text-align: right;
          width: 5rem;
        }

      }
    }
  }

  .content {
    .md-editor {
      margin-bottom: 0;
    }

    .operation {
      padding: .5rem;
      font-size: 1.5rem;

      > i {
        padding: 1rem .5rem;
        cursor: pointer;

        &:hover {
          background: #eee;
        }
      }

    }
  }

}

.add-menu-box {

  &, & * {
    list-style: none;
    padding: 0;
  }

  > li {
    margin: 0;
    padding: .5rem;
    cursor: pointer;
    position: relative;
    transform: scale(.95);
    transition: box-shadow .3s, transform .3s;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      transform: scale(1);
      background-color: transparent;
    }

    &:active {
      transform: scale(.95);
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
}

.context-menu-mask {
  background: transparent;
  z-index: 999;
}

:host ::ng-deep .main-menus .add [nz-submenu] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
